etcd:
  name: "{{ inventory_hostname }}"
  version: 3.3.12
  strict_reconfig_check: true

  advertise_client_urls: "https://{{ ansible_host }}:2379"
  initial_advertise_peer_urls: "https://{{ ansible_host }}:2380"
  initial_cluster: "{{ '%s=https://%s:2380' | format(inventory_hostname, ansible_host) }}"

  listen_client_urls: https://0.0.0.0:2379
  listen_peer_urls: https://0.0.0.0:2380
  listen_metrics_urls: http://0.0.0.0:2381

  cert_file: "{{ certificate_directory }}/etcd-https.crt"
  key_file: "{{ certificate_directory }}/etcd-https.key"

  client_cert_auth: true
  trusted_ca_file: "{{ certificate_directory }}/etcd.crt"

  peer_client_cert_auth: true
  peer_trusted_ca_file: "{{ certificate_directory }}/etcd.crt"
  peer_cert_file: "{{ certificate_directory }}/etcd-peer.crt"
  peer_key_file: "{{ certificate_directory }}/etcd-peer.key"

passwd:
  users:
  - name: core
    ssh_authorized_keys:
    - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDJ9tGB0fNOJTeOo5wGXkic6DesU7F0YcdDEFLW/OcWGRMh9IBHFjOwgH+mObZ7WazNPAja2/dZsCZevw1GitDCpLVoy3UF/zoVrDDmdT4JaYoGzFSOIXxtjAMDUYZYLnAIvqgLAlXdEK51Q9anBlawND7HinFacuKdH0Y+/SlL0o+QIWZXio18xm/2S3WbSxjUSpHBjF6PINQEO1OOUnQSxUY157QqDJVdJfz/eQaWbq8sYqpKMObNoUR0yL7GaW0kKTEFQ8IPUBSdodzwY3M4+6oWbWE30ApuFaATpL7qRX1OO8lL9AlW1NUU9w+3exeG7GNqNusNIC4tQEZfM64UVyp0uYpdRitJUYDKzuPs6DYAD6ez4zNVVUQvFPEoOw1ux7X3SZMdUTkN7U/UZuD0L1dpONe4KsFOuLSaHn4mDItTdHxKLuZoeMOEJs+dkTi8OoW0ZcjsyxAUBxtmKtK14I70FgFVqTfqkCbXqjBZj6OqMvGT6f06Cgp3LIDx6whW6mSxX64FyNVfzUuZzI9D/kGFmLl0fWn5LwF8alKkL+Iws+EOZi9uobvG/CVGR2w//9Op/2Yzd0DxKwlqPLZLrhn3P907oHrUVqbP9LYkte82nvwO/DZkO5gQCvh+cik5YlbHRByLN4cuBXlBEnjqZvX69aA4d0+gLfAegmwkzw==

  # etcd user must be created here to reference it by name in .storage.files
  - name: etcd
    no_create_home: true
    shell: /sbin/nologin

storage:
  disks:
  # this is the disk we install coreos to (the -d argument); this block has no effect, the partition table will already
  # be in the desired state when ignition is run, it is simply included for completeness
  - device: /dev/sda
    wipe_table: false

  - device: /dev/sdb
    wipe_table: true
    partitions:
    - label: STORAGE0
      type_guid: linux_filesystem_data

  - device: /dev/sdc
    wipe_table: true
    partitions:
    - label: STORAGE1
      type_guid: linux_filesystem_data

  filesystems:
  - name: root
    mount:
      device: /dev/disk/by-partlabel/ROOT
      format: ext4
      wipe_filesystem: false

  - name: storage0
    mount:
      device: /dev/disk/by-partlabel/STORAGE0
      format: ext4
      wipe_filesystem: false

  - name: storage1
    mount:
      device: /dev/disk/by-partlabel/STORAGE1
      format: ext4
      wipe_filesystem: false

  # ct is invoked with --files-dir=/ to allow any arbitrary local files to be included in this block
  # this does, however, require that these files be referenced by their absolute paths
  # see: https://github.com/wmedlar/corebernetes/issues/8
  files:
  - filesystem: root
    path: /etc/hostname
    contents:
      inline: "{{ inventory_hostname }}"

  - filesystem: root
    path: "{{ certificate_directory }}/etcd.crt"
    contents:
      local: "{{ certificate_directory }}/etcd.crt"

{% for item in ["https", "peer"] %}
  - filesystem: root
    path: "{{ certificate_directory }}/etcd-{{ item }}.crt"
    contents:
      local: "{{ certificate_directory }}/etcd-{{ item }}.crt"

  - filesystem: root
    path: "{{ certificate_directory }}/etcd-{{ item }}.key"
    contents:
      local: "{{ certificate_directory }}/etcd-{{ item }}.key"
    mode: 0400
    user:
      name: etcd

{% endfor -%}

systemd:
  units:
  - name: docker.service
    enabled: true

  - name: etcd-member.service
    enabled: true
    dropins:
    - name: 10-etcd-pki-mount.conf
      contents: |
        [Service]
        Environment=RKT_RUN_ARGS="--volume corebernetes-certs,kind=host,source={{ certificate_directory }},readOnly=true \
        --volume corebernetes-keys,kind=host,source={{ certificate_directory }},readOnly=true \
        --mount volume=corebernetes-certs,target={{ certificate_directory }} \
        --mount volume=corebernetes-keys,target={{ certificate_directory }}"

  - name: mnt-storage0.mount
    enabled: true
    contents: |
      [Unit]
      Description=Mount storage drive to /mnt/storage0
      Before=local-fs.target
      [Mount]
      What=/dev/disk/by-partlabel/STORAGE0
      Where=/mnt/storage0
      Type=ext4
      Options=defaults,discard,noatime
      [Install]
      WantedBy=local-fs.target

  - name: mnt-storage1.mount
    enabled: true
    contents: |
      [Unit]
      Description=Mount storage drive to /mnt/storage1
      Before=local-fs.target
      [Mount]
      What=/dev/disk/by-partlabel/STORAGE1
      Where=/mnt/storage1
      Type=ext4
      Options=defaults
      [Install]
      WantedBy=local-fs.target
