etcd:
  name: "{{ inventory_hostname }}"
  version: 3.3.12

  listen_client_urls: http://0.0.0.0:2379
  listen_peer_urls: http://0.0.0.0:2380
  listen_metrics_urls: http://0.0.0.0:2381

  advertise_client_urls: "http://{{ ansible_host }}:2379"
  initial_advertise_peer_urls: "http://{{ ansible_host }}:2380"
  initial_cluster: "{{ '%s=http://%s:2380' | format(inventory_hostname, ansible_host) }}"
  strict_reconfig_check: true

  {# client_cert_auth: true
  trusted_ca_file: /etc/ssl/certs/etcd/ca.crt
  cert_file: /etc/ssl/certs/etcd/tls.crt
  key_file: /etc/ssl/certs/etcd/tls.key

  peer_client_cert_auth: true
  peer_trusted_ca_file: /etc/ssl/certs/etcd/ca.crt
  peer_cert_file: /etc/ssl/certs/etcd/peer.crt
  peer_key_file: /etc/ssl/certs/etcd/peer.key #}

passwd:
  users:
  - name: core
    ssh_authorized_keys:
    - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDJ9tGB0fNOJTeOo5wGXkic6DesU7F0YcdDEFLW/OcWGRMh9IBHFjOwgH+mObZ7WazNPAja2/dZsCZevw1GitDCpLVoy3UF/zoVrDDmdT4JaYoGzFSOIXxtjAMDUYZYLnAIvqgLAlXdEK51Q9anBlawND7HinFacuKdH0Y+/SlL0o+QIWZXio18xm/2S3WbSxjUSpHBjF6PINQEO1OOUnQSxUY157QqDJVdJfz/eQaWbq8sYqpKMObNoUR0yL7GaW0kKTEFQ8IPUBSdodzwY3M4+6oWbWE30ApuFaATpL7qRX1OO8lL9AlW1NUU9w+3exeG7GNqNusNIC4tQEZfM64UVyp0uYpdRitJUYDKzuPs6DYAD6ez4zNVVUQvFPEoOw1ux7X3SZMdUTkN7U/UZuD0L1dpONe4KsFOuLSaHn4mDItTdHxKLuZoeMOEJs+dkTi8OoW0ZcjsyxAUBxtmKtK14I70FgFVqTfqkCbXqjBZj6OqMvGT6f06Cgp3LIDx6whW6mSxX64FyNVfzUuZzI9D/kGFmLl0fWn5LwF8alKkL+Iws+EOZi9uobvG/CVGR2w//9Op/2Yzd0DxKwlqPLZLrhn3P907oHrUVqbP9LYkte82nvwO/DZkO5gQCvh+cik5YlbHRByLN4cuBXlBEnjqZvX69aA4d0+gLfAegmwkzw==

storage:
  disks:
  # this is the disk we install coreos to (the -d argument); this block has no effect, the partition table will already
  # be in the desired state when ignition is run, it is simply included for completeness
  - device: /dev/sda
    wipe_table: false

  - device: /dev/sdb
    wipe_table: true
    partitions:
    - label: STORAGE0
      type_guid: linux_filesystem_data

  - device: /dev/sdc
    wipe_table: true
    partitions:
    - label: STORAGE1
      type_guid: linux_filesystem_data

  filesystems:
  - name: root
    mount:
      device: /dev/disk/by-partlabel/ROOT
      format: ext4
      wipe_filesystem: false

  - name: storage0
    mount:
      device: /dev/disk/by-partlabel/STORAGE0
      format: ext4
      wipe_filesystem: false

  - name: storage1
    mount:
      device: /dev/disk/by-partlabel/STORAGE1
      format: ext4
      wipe_filesystem: false

  files:
  - filesystem: root
    path: /etc/hostname
    contents:
      inline: "{{ inventory_hostname }}"
    mode: 0644

systemd:
  units:
  - name: docker.service
    enabled: true

  - name: mnt-storage0.mount
    enabled: true
    contents: |
      [Unit]
      Description=Mount storage drive to /mnt/storage0
      Before=local-fs.target
      [Mount]
      What=/dev/disk/by-partlabel/STORAGE0
      Where=/mnt/storage0
      Type=ext4
      Options=defaults,discard,noatime
      [Install]
      WantedBy=local-fs.target

  - name: mnt-storage1.mount
    enabled: true
    contents: |
      [Unit]
      Description=Mount storage drive to /mnt/storage1
      Before=local-fs.target
      [Mount]
      What=/dev/disk/by-partlabel/STORAGE1
      Where=/mnt/storage1
      Type=ext4
      Options=defaults
      [Install]
      WantedBy=local-fs.target
